<div class="main-content shop-page shoppingcart-content">
		<div class="container">
			<div class="breadcrumbs">
				<a href="#">Home</a> \ <span class="current">SHOPPING CART</span>
			</div>
			<div class="row content-form">
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 content-offset">
					<div class="cart-content">
						<table class="shopping-cart-content">
							<tr class="title">
								<td class="product-thumb"></td>
								<td class="product-name">Product Name</td>
								<td class="price">Unit Price</td>
								<td class="quantity-item">Qty</td>
								<td class="total">SubTotal</td>
								<td class="delete-item"></td>
							</tr>
							<tr class="each-item">
								<td class="product-thumb"><a href="#"><img src="images/product-1.png" alt="" width="40" height="80"></a></td>
								<td class="product-name" data-title="Product Name"><a href="#" class="product-name">Watch Name</a></td>
								<td class="price" data-title="Unit Price">$350.00</td>
								<td class="quantity-item" data-title="Qty">
									<div class="quantity">
										<div class="group-quantity-button">
											<a class="minus" href="#"><i class="fa fa-minus" aria-hidden="true"></i></a>
											<input class="input-text qty text" type="text" size="4" title="Qty" value="1" name="quantity">
		                                	<a class="plus" href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
										</div>
		                            </div>
								</td>
								<td class="total" data-title="SubTotal">$350.00</td>
								<td class="delete-item" data-title="Remove"><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							</tr>
							<tr class="each-item">
								<td class="product-thumb"><a href="#"><img src="images/product-3.png" alt="" width="40" height="80"></a></td>
								<td class="product-name" data-title="Product Name"><a href="#" class="product-name">Watch Name</a></td>
								<td class="price" data-title="Unit Price">$350.00</td>
								<td class="quantity-item" data-title="Qty">
									<div class="quantity">
										<div class="group-quantity-button">
											<a class="minus" href="#"><i class="fa fa-minus" aria-hidden="true"></i></a>
											<input class="input-text qty text" type="text" size="4" title="Qty" value="1" name="quantity">
		                   <a class="plus" href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
										</div>
		               </div>
								</td>

								<td class="total" data-title="SubTotal">$350.00</td>
								<td class="delete-item"><a href="#"><i class="fa fa-times" aria-hidden="true"></i></a></td>
							</tr>
							<tr class="checkout-cart group-button">
								<td colspan="6" class="left">
									<div class="left">
										<a href="#" class="continue-shopping submit" style="font-size:10px;">Continue Shopping</a>
									</div>
									<div class="right">
										<a href="#" class="submit update clear-cart" style="font-size:10px;">Clear Shopping Cart</a>
										<a href="#" class="submit update" style="font-size:10px;">Update Shopping Cart</a>
									</div>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 ">
					<div class="proceed-checkout">
						<h4 class="main-title">Proceed to Checkout</h4>
						<div class="content">
							<h5 class="title">cart Total</h5>
							<div class="info-checkout">
								<span class="text">Cart subtotal: </span><span class="item">$2598.00</span>
							</div>
							<div class="info-checkout shipping">
								<span class="text">Shipping:</span><span class="item">Freeshipping</span>
							</div>
							<div class="total-checkout">
								<span class="text">Grand Total </span><span class="price"> $2598.00</span>
							</div>
							<div class="group-button">
								<a href="#" class="button submit">Check out</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="brand">
			<div class="container">
				<div class="owl-carousel" data-autoplay="false" data-nav="false" data-dots="false" data-loop="false" data-slidespeed="800" data-margin="30"  data-responsive = '{"0":{"items":2}, "640":{"items":3}, "768":{"items":3}, "1024":{"items":4}, "1200":{"items":5}}'>
					<div class="brand-item"><a href="#"><img src="images/brand1.jpg" alt=""></a></div>
					<div class="brand-item"><a href="#"><img src="images/brand1.jpg" alt=""></a></div>
					<div class="brand-item"><a href="#"><img src="images/brand1.jpg" alt=""></a></div>
					<div class="brand-item"><a href="#"><img src="images/brand1.jpg" alt=""></a></div>
					<div class="brand-item"><a href="#"><img src="images/brand1.jpg" alt=""></a></div>
				</div>
			</div>
		</div>
	</div>
