<div class="main-content shop-page main-content-detail">
		<div class="container">
			<div class="breadcrumbs">
				<a href="/">Home</a> \ <span class="current">Detail</span>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-7 col-md-8 col-lg-9 content-offset">
					<div class="about-product row">
						<div class="details-thumb col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<div class="owl-carousel nav-style3 has-thumbs" data-autoplay="false" data-nav="true" data-dots="false" data-loop="true" data-slidespeed="800" data-margin="0"  data-responsive = '{"0":{"items":1}, "480":{"items":2}, "768":{"items":1}, "1024":{"items":1}, "1200":{"items":1}}'>
								<div class="details-item"><img src="images/sell-product-1.png" alt=""></div>
								<div class="details-item"><img src="images/sell-product-2.png" alt=""></div>
								<div class="details-item"><img src="images/sell-product-3.png" alt=""></div>
								<div class="details-item"><img src="images/sell-product-4.png" alt=""></div>
								<!-- <div class="details-item"><img src="images/sell-product-1.png" alt=""></div> -->
							</div>
						</div>
						<div class="details-info col-xs-12 col-sm-12 col-md-6 col-lg-6">
							<a href="detail.html" class="product-name">Watch Name</a>
							<div class="rating">
								<ul class="list-star">
									<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
								</ul>
								<span class="count">5 Review(s)</span>
							</div>
							<p class="description">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 making it over 2000 years old. Richard McClintock, a Latin at Hampden-Sydney College in Virginia.</p>
							<div class="price">
								<span >$450.00</span>
							</div>
							<div class="availability">Availability: <a href="#">in Stock</a></div>
							<div class="group-social">
								<ul class="list-socials">
									<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
									<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
								</ul>
							</div>
							<div class="quantity">
								<div class="group-quantity-button">
									<a class="minus" href="#"><i class="fa fa-minus" aria-hidden="true"></i></a>
									<input class="input-text qty text" type="text" size="4" title="Qty" value="1" name="quantity">
                                	<a class="plus" href="#"><i class="fa fa-plus" aria-hidden="true"></i></a>
								</div>
                            </div>
                            <div class="group-button">
								<div class="inner">
									<a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
									<a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
									<a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="kt-tab nav-tab-style2" >
						<ul class="nav list-nav">
							<li class="active"><a data-animated="fadeIn" data-toggle="pill" href="#tab1">Description</a></li>
							<li><a data-animated="zoomInUp" data-toggle="pill" href="#tab2">Addtional Infomation</a></li>
							<li><a data-animated="rotateInDownLeft" data-toggle="pill" href="#tab3">Reviews</a></li>
						</ul>
						<div class="tab-content">
				    		<div id="tab1" class="tab-panel active ">
				    			<div class="description">
					    			<p>Lorem ipsum dolor sit amet, an munere tibique consequat mel, congue albucius no qui, at everti meliore erroribus sea. Vero graeco cotidieque ea duo, in eirmod insolens interpretaris nam. Pro at nostrud percipit definitiones, eu tale porro cum. Sea ne accusata voluptatibus. Ne cum falli dolor voluptua, duo ei sonet choro facilisis, labores officiis torquatos cum ei.</p>
					    			<p>Cum altera mandamus in, mea verear disputationi et. Vel regione discere ut, legere expetenda ut eos. In nam nibh invenire similique. Atqui mollis ea his, ius graecis accommodare te. No eam tota nostrum cotidieque. Est cu nibh clita. Sed an nominavi, et duo corrumpit constituto, duo id rebum lucilius. Te eam iisque deseruisse, ipsum euismod his at. Eu putent habemus voluptua sit, sit cu rationibus scripserit, modus voluptaria ex per. Aeque dicam consulatu eu his, probatus neglegentur disputationi sit et. Ei nec ludus epicuri petentium, vis appetere maluisset ad. Et hinc exerci utinam cum. Sonet saperet nominavi est at, vel eu sumo tritani. Cum ex minim legere.</p>
					    			<p>Eos cu utroque inermis invenire, eu pri alterum antiopam. Nisl erroribus definitiones nec an, ne mutat scripserit est. Eros veri ad pri. An soleat maluisset per. Has eu idque similique, et blandit scriptorem necessitatibus mea. Vis quaeque ocurreret ea.cu bus scripserit, modus voluptaria ex per. Aeque dicam consulatu eu his, probatus neglegentur disputationi sit et. Ei nec ludus epicuri petentium, vis appetere maluisset ad. Et hinc exerci utinam cum. Sonet saperet nominavi est at, vel eu sumo tritani.</p>
				    			</div>
				    		</div>
				    		<div id="tab2" class="tab-panel">
								<div class="additional">
				    				<div class="row">
				    					<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
						    				<p>Lorem ipsum dolor sit amet isse potenti sesquam ante aliquet lacusemper elit. Cras neque nulla convallis non comodo euismod nonsese isse potent.</p>
						    				<ul>
						    					<li>Soft-touch jersey</li>
						    					<li>Crew neck </li>
						    					<li>Logo print</li>
						    					<li>Regular fit - true to size</li>
						    				</ul>
						    				<ul>
						    					<li>Machine wash</li>
						    					<li>100% Cotton</li>
						    					<li>Our model wears a size Medium and is 185.5cm/6'1" tall</li>
						    				</ul>
						    				</div>
				    				</div>
				    			</div>
				    		</div>
				    		<div id="tab3" class="tab-panel">
				    			<div class="custom-review">
				    				<div class="row">
				    					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				    						<div class="customer-review">
				    							<h3 class="title supper-title">CUSTOMER REVIEWS <span class="count">( 2 Reviews )</span></h3>
				    							<ul class="list-review">
				    								<li class="review-item">
				    									<div class="character">
				    										<div class="rating">
																<ul class="list-star">
																	<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
																	<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
																	<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
																	<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
																	<li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
																</ul>
															</div>
															<a href="#" class="author">Christiana Doe</a>
															<div class="time-review">20 Dec 2015</div>
				    									</div>
				    									<div class="review-content">
				    										<h3 class="title">What a Beautiful Design</h3>
				    										<p class="content">Cras neque nulla, convallis non commodo et, euismod nonsese. At vero eos et accusamus et iusto odio dignimos ducimus qui blanditiis praesentium voluptatum</p>
				    									</div>
				    								</li>
				    								<li class="review-item">
				    									<div class="character">
				    										<div class="rating">
																<ul class="list-star">
																	<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
																	<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
																	<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
																	<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
																	<li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
																</ul>
															</div>
															<a href="#" class="author">Jonathan Doe</a>
															<div class="time-review">20 Dec 2015</div>
				    									</div>
				    									<div class="review-content">
				    										<h3 class="title">Amazing Minimal theme</h3>
				    										<p class="content">Cras neque nulla, convallis non commodo et, euismod nonsese. At vero eos et accusamus et iusto odio dignimos ducimus qui blanditiis praesentium voluptatum</p>
				    									</div>
				    								</li>
				    							</ul>
				    						</div>
				    					</div>
				    					<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				    						<div class="add-review">
				    							<h3 class="title supper-title">ADD A REVIEW</h3>
				    							<div class="row">
					    							<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
					    								<input type="text" class="input-info" placeholder="Your name">
					    							</div>
					    							<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
					    								<input type="text" class="input-info" placeholder="Your email">
					    							</div>
					    						</div>
				    							<textarea rows="6"  class="input-info input-content" placeholder="Your review"></textarea>
				    							<div class="rating">
				    								<span class="text">Your rating</span>
													<ul class="list-star">
														<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
														<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
														<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
														<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
														<li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
													</ul>
												</div>
												<a href="#" class="submit">SUBMIT</a>
				    						</div>
				    					</div>
				    				</div>
				    			</div>
				    		</div>
				    	</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 sidebar">
					<div class="equal-container widget-featrue-box">
						<div class="row">
							<div class="col-ts-12 col-xs-4 col-sm-12 col-md-12 col-lg-12 featrue-item">
								<div class="featrue-box layout2 equal-elem">
									<div class="block-icon"><a href="#"><span class="fa fa-truck"></span></a></div>
									<div class="block-inner">
										<a href="#" class="title">Free Shipping & Return</a>
										<p class="des">Free shipping on all oders over $100</p>
									</div>
								</div>
							</div>
							<div class="col-ts-12 col-xs-4 col-sm-12 col-md-12 col-lg-12 featrue-item">
								<div class="featrue-box layout2 equal-elem">
									<div class="block-icon"><a href="#"><span class="fa fa-retweet"></span></a></div>
									<div class="block-inner">
										<a href="#"  class="title">Money back guarantee</a>
										<p class="des">100% money back guarantee</p>
									</div>
								</div>
							</div>
							<div class="col-ts-12 col-xs-4 col-sm-12 col-md-12 col-lg-12 featrue-item">
								<div class="featrue-box layout2 equal-elem">
									<div class="block-icon"><a href="#"><span class="fa fa-life-ring"></span></a></div>
									<div class="block-inner">
										<a href="#"  class="title">Online support 24/7</a>
										<p class="des">Online support 24/7</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="widget widget-banner row-banner">
						<div class="banner banner-effect1">
							<a href="#"><img src="images/banner23.jpg" alt=""></a>
						</div>
					</div>
					<div class="widget widget-recent-post">
						<h5 class="widgettitle">Bestseller</h5>
						<ul class="list-recent-posts">
							<li class="product-item">
								<div class="thumb"><a href="detail.html"><img src="images/brand-1.png" alt=""></a></div>
								<div class="info">
									<div class="rating">
										<ul class="list-star">
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
										</ul>
										<span class="count">5 Review(s)</span>
									</div>
									<a href="detail.html" class="product-name">Wathc Name</a>
									<div class="price">
										<span class="del">$700.00</span>
										<span class="ins">$350</span>
									</div>
								</div>
							</li>
							<li class="product-item">
								<div class="thumb"><a href="detail.html"><img src="images/brand-2.png" alt=""></a></div>
								<div class="info">
									<div class="rating">
										<ul class="list-star">
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
										</ul>
										<span class="count">5 Review(s)</span>
									</div>
									<a href="detail.html" class="product-name">Watch Name</a>
									<div class="price">
										<span>$100</span>
									</div>
								</div>
							</li>
							<li class="product-item">
								<div class="thumb"><a href="detail.html"><img src="images/brand-3.png" alt=""></a></div>
								<div class="info">
									<a href="detail.html" class="product-name">Watch Name</a>
									<div class="price">
										<span >$350.00</span>
									</div>
								</div>
							</li>
							<li class="product-item">
								<div class="thumb"><a href="detail.html"><img src="images/brand-4.png" alt=""></a></div>
								<div class="info">
									<div class="rating">
										<ul class="list-star">
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
											<li><a href="#"><i class="fa fa-star-half-o" aria-hidden="true"></i></a></li>
										</ul>
										<span class="count">5 Review(s)</span>
									</div>
									<a href="detail.html" class="product-name">Watch Name</a>
									<div class="price">
										<span>$100</span>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="products-arrivals">
				<div class="section-head box-has-content">
					<h4 class="section-title">Related Products</h4>
				</div>
				<div class="section-content">
					<div class="owl-carousel product-list-owl nav-style2 equal-container" data-autoplay="false" data-nav="true" data-dots="false" data-loop="false" data-slidespeed="800" data-margin="0"  data-responsive = '{"0":{"items":1}, "480":{"items":2}, "650":{"items":3}, "1024":{"items":4}, "1200":{"items":5}}'>
	    				<div class="product-item layout1">
							<div class="product-inner equal-elem">
								<div class="thumb">
									<!-- <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a> -->
									<a href="detail.html" class="thumb-link"><img src="images/sell-product-4.png" alt=""></a>
								</div>
								<div class="info">
									<a href="detail.html" class="product-name">Rubberized Hard Case Older MacBook Pro 13.3"</a>
									<div class="price">
										<span>$350.00</span>
									</div>
								</div>
								<div class="group-button">
									<div class="inner">
										<a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
										<a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
										<a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="product-item layout1">
							<div class="product-inner equal-elem">
								<ul class="group-flash">
									<li><span class="new flash">NEW</span></li>
								</ul>
								<div class="thumb">
									<!-- <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a> -->
									<a href="detail.html" class="thumb-link"><img src="images/sell-product-2.png" alt=""></a>
								</div>
								<div class="info">
									<a href="detail.html" class="product-name">Smartphone RAM 4 GB New</a>
									<div class="price">
										<span >$350.00</span>
									</div>
								</div>
								<div class="group-button">
									<div class="inner">
									<a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
									<a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
									<a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="product-item layout1">
							<div class="product-inner equal-elem">
								<ul class="group-flash">
									<li><span class="sale flash">-50%</span></li>
									<li><span class="best flash">Bestseller</span></li>
								</ul>
								<div class="thumb">
									<!-- <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a> -->
									<a href="detail.html" class="thumb-link"><img src="images/sell-product-1.png" alt=""></a>
								</div>
								<div class="info">
									<a href="detail.html" class="product-name">Fujifilm INSTAX Mini 8 Instant Camera (White)</a>
									<div class="price">
										<span class="del">$700.00</span>
										<span class="ins">$350.00</span>
									</div>
								</div>
								<div class="group-button">
									<div class="inner">
									<a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
									<a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
									<a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="product-item layout1">
							<div class="product-inner equal-elem">
								<div class="thumb">
									<!-- <a href="#" class="quickview-button"><span class="icon"><i class="fa fa-eye" aria-hidden="true"></i></span> Quick View</a> -->
									<a href="detail.html" class="thumb-link"><img src="images/sell-product-3.png" alt=""></a>
								</div>
								<div class="info">
									<a href="detail.html" class="product-name">PC Prox 21.5-inch and 27-inch (Late 2017) reviews</a>
									<div class="price">
										<span >$550.00</span>
									</div>
								</div>
								<div class="group-button">
									<div class="inner">
									<a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
									<a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
									<a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="product-item layout1">
							<div class="product-inner equal-elem">
								<ul class="group-flash">
									<li><span class="sale flash">-50%</span></li>
								</ul>
								<div class="thumb">

									<a href="detail.html" class="thumb-link"><img src="images/sell-product-2.png" alt=""></a>
								</div>
								<div class="info">
									<a href="detail.html" class="product-name">Best Accessories- SteelSeries NIMBUS Controlle</a>
									<div class="price">
										<span class="del">$500.00</span>
										<span class="ins">$250.00</span>
									</div>
								</div>
								<div class="group-button">
									<div class="inner">
									<a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
									<a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
									<a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="product-item layout1">
							<div class="product-inner equal-elem">
								<ul class="group-flash">
									<li><span class="sale flash">-50%</span></li>
									<li><span class="best flash">Bestseller</span></li>
								</ul>
								<div class="thumb">

									<a href="detail.html" class="thumb-link"><img src="images/sell-product-1.png" alt=""></a>
								</div>
								<div class="info">
									<a href="detail.html" class="product-name">Fujifilm INSTAX Mini 8 Instant Camera (White)</a>
									<div class="price">
										<span class="del">$700.00</span>
										<span class="ins">$350.00</span>
									</div>
								</div>
								<div class="group-button">
									<div class="inner">
									<a href="#" class="add-to-cart"><span class="text">ADD TO CART</span><span class="icon"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></span></a>
									<a href="#" class="compare-button"><i class="fa fa-exchange" aria-hidden="true"></i></a>
									<a href="#" class="wishlist-button"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
									</div>
								</div>
							</div>
						</div>
	    			</div>
	    		</div>
			</div>
		</div>

		<div class="brand">
			<div class="container">
				<div class="owl-carousel" data-autoplay="false" data-nav="false" data-dots="false" data-loop="false" data-slidespeed="800" data-margin="30"  data-responsive = '{"0":{"items":2}, "640":{"items":3}, "768":{"items":3}, "1024":{"items":4}, "1200":{"items":5}}'>
					<div class="brand-item"><a href="#"><img src="images/brand1.jpg" alt=""></a></div>
					<div class="brand-item"><a href="#"><img src="images/brand1.jpg" alt=""></a></div>
					<div class="brand-item"><a href="#"><img src="images/brand1.jpg" alt=""></a></div>
					<div class="brand-item"><a href="#"><img src="images/brand1.jpg" alt=""></a></div>
					<div class="brand-item"><a href="#"><img src="images/brand1.jpg" alt=""></a></div>
				</div>
			</div>
		</div>
	</div>
