<%name =[
  "shared/js/1-jquery-2.1.4.min",
  "shared/js/2-bootstrap.min",
  "shared/js/3-owl.carousel.min",
  "shared/js/4-owl.thumbs.min",
  "shared/js/5-magnific-popup.min",
  "shared/js/6-mobilemenu.min",
  "shared/js/7-jquery.plugin-countdown.min",
  "shared/js/8-jquery-countdown.min",
  "shared/js/9-jquery-ui.min",
  "shared/js/10-jquery.scrollbar.min",
  "shared/js/11-chosen.min",
  "shared/js/12-frontend"
  ]%>

<%name.each do |n|%>
  <%=render "#{n}"%>
<%end%>
