<!DOCTYPE html>
<html>
  <head>
    <title>LdiProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%=render "/shared/css/style-partial"%>
  </head>

  <body>
    <%= yield %>
    <%=render "/shared/js/js-partial"%>
  </body>
</html>
